.tw-followCard {
    min-width: 350px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
}
.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}
.tw-followCard-infoUserName {
    opacity: .6;
}
.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}
.tw-followCard-button {
  cursor: pointer;
    margin-left: 20px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    
}

.tw-followCard-button.is-following{
  background-color: transparent;
  color: white;
  outline: #fff 1px solid;
}

.tw-followCard-stopFollow{
  display: none;
}

.tw-followCard-button:hover {
  background-color: #888;
  transition: all 0.2s ease;
    
}

.tw-followCard-button.is-following:hover{
  background-color: rgba(255, 0, 0, 0.055);
  color: red;
  outline: red 1px solid;
  transition: all 0.2s ease;
}

.tw-followCard-button.is-following:hover .tw-followCard-follow{
  display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow{
  display: block;
}


.tw-followCard-button:active {
    scale: 0.95;
}