body {
  background-color: #121214;
  color: #fff;
  font-family: arial;
  text-spacing-trim: 1px;
}

.app-title {
  text-align: center;
}

.single-button {
  margin: auto;
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #fff;
  color: #777777;
  border: 1px solid #777;
  border-radius: 10px;
  box-shadow: #0002 0 1px 3px 0;
  font-size: 1em;
  padding: 10px 25px;
  transition: all 0.1s;
  user-select: none;
}
.single-button:hover {
  color: #b37329;
  border-color: #b37329;
}
.single-button:active {
  transform: translateY(4px);
  background-color: #e6d6cc;
}

.single-button:active .icon {
  transition: all 0.2s;
  transform: rotate(90deg);
}

main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-fact-cat {
  cursor: pointer;
  margin: 30px;
  border-radius: 16px;
  padding: 25px;
  padding-bottom: 40px;
  display: flex;
  gap: 30px;
  background-color: #ffc58a15;
  border: 1px solid #ffc48a29;
  flex-direction: column;
  margin: 30px;
  max-width: 500px;
  transition: all 0.1s;
}

.card-fact-cat:hover {
  background-color: #ffc48a29;
  border: 1px solid #ffc48a83;
}

.card-fact-cat:active {
  transform: translate(0, 5px);
  background-color: #ffc58a15;
  border: 1px solid #ffc48a29;
}

.card-fact-cat h1 {
  margin: 0;
  text-align: center;
}

.article-body {
  display: grid;
  gap: 10px;
  grid-template-columns: 50% 50%;
}

.article-fact {
  margin: 0;
  line-height: 1.5;
}

img {
  border: 5px solid #ffc48a29;
  border-left: 0;
  border-top: 0;
  margin: auto;
  max-width: 100%;
  border-radius: 16px;
  transition: all 0.1s ease;
}
.card-fact-cat:hover img {
  border-color: #ffc48a83;
}

.card-fact-cat:active img {
  border-color: #ffc48a29;
}

@media (width <= 650px) {
  .article-body {
    grid-template-columns: 100%;
    gap: 20px;
    max-width: 320px;
  }
  img {
    margin: auto;
    max-width: 100%;
    border-radius: 16px;
  }
}

/* img {
  max-width: 250px;
  min-height: 250px;
  background-color: #67676b;
  animation: img-loading-animation 1s ease infinite;
}

@keyframes img-loading-animation {
  0% {
  }
} */
