body {
  background-color: #121214;
  color: #fff;
  font-family: arial;
  text-spacing-trim: 1px;
}

main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-fact-cat {
  margin: 30px;
  border-radius: 16px;
  padding: 25px;
  padding-bottom: 40px;
  display: flex;
  gap: 30px;
  background-color: #ffc58a15;
  flex-direction: column;
  margin: 30px;
  max-width: 500px;
}

.card-fact-cat:hover{
  background-color: #ffc48a29;
}

h1 {
  margin: 0;
  text-align: center;
}

.article-body {
  display: grid;
  gap: 10px;
  grid-template-columns: 50% 50%;
}

.article-fact {
  margin: 0;
  line-height: 1.5;
}

img {
  margin: auto;
  max-width: 100%;
  border-radius: 16px;
  transition: all .1s ease;
}

@media (width <= 650px) {
  .article-body {
    grid-template-columns: 100%;
    gap: 20px;
    max-width: 320px;
  }
  img {
    margin: auto;
    max-width: 100%;
    border-radius: 16px;
  }
}

/* img {
  max-width: 250px;
  min-height: 250px;
  background-color: #67676b;
  animation: img-loading-animation 1s ease infinite;
}

@keyframes img-loading-animation {
  0% {
  }
} */
